<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms defaultUrl="~/Main.aspx" loginUrl="~/Default.aspx" slidingExpiration="true" timeout="12000"/>
    </authentication>
    <sessionState mode="InProc" cookieless="true" timeout="120"/>
  </system.web>
  <connectionStrings>
    
    <add name="APPHARBOR" connectionString="Server=55dbddb5-2674-44af-8f81-a5000089e840.sqlserver.sequelizer.com;Database=db55dbddb5267444af8f81a5000089e840;User ID=lgmfcppgzhgupfhf;Password=YVKAmo2WxfNqdGRLqcZXrH5hXqksfm5JddvPG7CnvPXa5ukvGLFHuA4pYCL5dGQk;"/>
    <add name="ConnectionString" connectionString="Data Source=55dbddb5-2674-44af-8f81-a5000089e840.sqlserver.sequelizer.com;Persist Security Info=True;User ID=lgmfcppgzhgupfhf;Password=YVKAmo2WxfNqdGRLqcZXrH5hXqksfm5JddvPG7CnvPXa5ukvGLFHuA4pYCL5dGQk" providerName="System.Data.SqlClient"/>
    <add name="OLEDbConnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=|DataDirectory|\TestDb.mdb;" providerName="System.Data.SqlClient"/>
    <add name="SQLCE" connectionString="Data Source=|DataDirectory|\DB1.sdf ;Persist Security Info=False;" providerName="System.Data.SqlServerCe"/>
    <add name="MONGO" connectionString="mongodb://pathllk:indian@oceanic.mongohq.com:10031/anjan"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact"/>
    </providers>
  </entityFramework>
</configuration>